.Input {
  border: 1px solid var(--special-color);
  border-radius: var(--border-radius-XL);
  padding: 6px 18px;
  transition: box-shadow 0.2s ease;
  &:focus {
    box-shadow: var(--box-shadow);
  }
}
.disabled {
  background-color: var(--disabled-color);
}
.clear {
  all: unset;
}
